@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav li{
   display: inline-block;
   margin-right: 28px;
}


body{
   background-color: rgb(161, 161, 161);

      max-width: 780px;
      max-width: 70ch;
      margin-left: auto;
      margin-right: auto;

      /* This sets the default font for the site */
      font-family: "Source Sans 3", sans-serif;
   
}
h1{
   font-family: "Orbitron", sans-serif;
}
h2{
   font-family: "Orbitron", sans-serif;
}
img, video{
    max-width: 100%;
    height: auto;

}